MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_DATABASE=
MYSQL_PASSWORD=

# (Required) Choose SSL certificate type (tls config value in Caddy)
# 1. email (Specify your email) - auto generate let's encrypt SSL certificates for your domain
# 2. "internal" - use self-signed certificates for dev environments
# 3. path_to_cert.crt path_to_key.key - use custom certificate. Be sure to pass them in docker-compose.yml
TLS=certs@waldur.com
HOSTNAME=

# Example: https://keycloak.example.com/auth/realms/MYREALM
KEYCLOAK=
LOGLEVEL=debug
